html, body, header, footer, div, nav, ul, section{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: lightblue;
  /* background-color: #C4E8C8; */
  color: #3A5FCD;
}

body{
  display:flex;
  flex-flow: column nowrap;
}

body>div{
  height: 80vh;
  /* top:20vh; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5rem;
}

header{
  width: 100%;
  height: 20vh;
  /* background-color: rgba(200, 200, 200, 0.5); */
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

footer{
  position:fixed;
  width: 100%;
  top: 90vh;
  height: 10vh;
  /* background-color: rgba(200, 200, 200, 0.5); */
  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
}

header>h1{
  font-size: 2rem;
  width:50%;
  text-align: center;
}

nav{
  width:100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

label {
  padding: 10px;
  border: .3rem solid darkblue;
  border-radius: 1rem;
  font-size: 1.5rem;
}

label:hover {
  background-color: #6DC990;
}

section{
  position: fixed;
  display: none;
  border: 2px solid blue;
  /* formatting */
  top: 20vh;
  left: 0rem;
  height: 70vh;
  width: 100vw;
  }

section>p{
  font-size: 1.5rem;
}
section>a{
  font-size: 1.5rem;
}

input[type="radio"] {
  /* toggle */
  display: none;
}
input[type="radio"]:checked + #Perso {
  /* toggle */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
input[type="radio"]:checked + #Formation {
  /* toggle */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
input[type="radio"]:checked + #EXP {
  /* toggle */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}
input[type="radio"]:checked + #Projects {
  /* toggle */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked + #Skills {
  /* toggle */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
input[type="radio"]:checked + #IP {
  /* toggle */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
input[type="radio"]:checked + #Hobbies {
  /* toggle */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.Filler{
  /* formatting */
  width: 10%;
  height: 5vh;
  }
.FillerLine{
  /* formatting */
  width: 100%;
  height:2vh;
  }
.Formyear{
  /* formatting */
  width: 10%;
}
.FormDesc{
  /* formatting */
  width: 80%;
}
.FormUDEMY{
  /* formatting */
  width: 70%;
}
.SkillType{
  /* formatting */
  width: 20%;
  }
.SkillDesc{
  /* formatting */
  width: 70%;
  }
.IPNumber{
  /* formatting */
  width: 20%;
}
.IPDesc{
  /* formatting */
  width: 70%;
}
#EXP>p{
  font-size: 1rem;
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
#EXP>h1{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
}
